@import "pure-nr-min.css";

a, a:visited, a:hover, a:active {
	color: #0078e7;
	text-decoration: none;
}

iframe {
	margin-bottom: 0;
	height: 210px;
}

label {
	display: block;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-left: 0.7em;
}

body {
	overflow: hidden;
	color: dimgray;
	font-size: 0.9em;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

p {
	margin: 0.5em 0.2em;
}

input {
	display: inline;
}

button {
	display: inline;
}
